:root {
   --default-font: ;
   --h1: clamp(2rem, 1.2rem + 4vw, 4.5rem);
   --h2: clamp(1.75rem, 1.11rem + 3.2vw, 3.75rem);
   --h3: clamp(1.5rem, 1.02rem + 2.4vw, 3rem);
   --h4: clamp(1.375rem, 1.095rem + 1.4vw, 2.25rem);
   --h5: clamp(1.25rem, 1.05rem + 1vw, 1.875rem);
   --h6: clamp(1.125rem, 1.005rem + 0.6vw, 1.5rem);
   --size-2: 0.125rem;
   --size-4: 0.25rem;
   --size-6: 0.375rem;
   --size-8: 0.5rem;
   --size-9: 0.5625rem;
   --size-10: 0.625rem;
   --size-11: 0.6875rem;
   --size-12: 0.75rem;
   --size-13: 0.8125rem;
   --size-16: 1rem;
   --size-20: 1.25rem;
   --size-24: 1.5rem;
   --size-28: 1.5rem;
   --size-32: 2rem;
   --size-36: 2rem;
   --size-40: 2.5rem;
   --size-44: 2.75rem;
   --size-48: 3rem;
   --size-50: 3.125rem;
   --size-56: 3.5rem;
   --size-64: 4rem;
   --size-72: 4.5rem;
   --size-80: 5rem;
   --size-90: 5.625rem;
   --size-110: 6.875rem;
   --size-120: 7.5rem;
   --size-144: 9rem;
   --size-160: 10rem;
   --size-170: 10.625rem;
   --size-190: 11.875rem;
   --size-200: 12.5rem;
   --size-240: 15rem;
   --size-440: 27.5rem;
   --rounded-2: 0.125rem;
   --rounded-4: 0.25rem;
   --rounded-6: 0.375rem;
   --rounded-8: 0.5rem;
   --rounded-9: 0.5625rem;
   --rounded-10: 0.625rem;
   --rounded-11: 0.6875rem;
   --rounded-12: 0.75rem;
   --rounded-13: 0.8125rem;
   --rounded-16: 1rem;
   --rounded-20: 1.25rem;
   --rounded-24: 1.5rem;
   --rounded-28: 1.5rem;
   --rounded-32: 2rem;
   --rounded-36: 2rem;
   --rounded-40: 2.5rem;
   --rounded-44: 2.75rem;
   --rounded-48: 3rem;
   --rounded-50: 3.125rem;
   --rounded-56: 3.5rem;
   --rounded-64: 4rem;
   --rounded-72: 4.5rem;
   --rounded-80: 5rem;
   --rounded-90: 5.625rem;
   --rounded-110: 6.875rem;
   --rounded-120: 7.5rem;
   --rounded-144: 9rem;
   --rounded-160: 10rem;
   --rounded-170: 10.625rem;
   --rounded-190: 11.875rem;
   --rounded-200: 12.5rem;
   --rounded-240: 15rem;
   --rounded-440: 27.5rem;
   --shadow-1: 0 4px 60px 0 rgba(4, 6, 15, 0.8);
   --shadow-2: 0 4px 60px 0 rgba(4, 6, 15, 0.5);
   --shadow-3: 0 20px 100px 0 rgba(4, 6, 15, 0.8);
   --shadow-4: 4px 8px 24px 0 rgba(182, 182, 182, 0.2);
   --shadow-5: 4px 12px 32px 0 rgba(0, 169, 158, 0.1);
   --shadow-6: 4px 16px 32px 0 rgba(0, 169, 158, 0.1);
   --font-2xxl: 2rem;
   --font-2xl: 1.75rem;
   --font-xxl: 1.5rem;
   --font-xl: 1.25rem;
   --font-lg: 1.125rem;
   --font-md: 1rem;
   --font-sm: 0.875rem;
   --font-xs: 0.75rem;
   --font-xxs: 0.625rem;
   --primary-50: #E4F1FF;
   --primary-100: #BFDCFF;
   --primary-200: #95C7FF;
   --primary-300: #6BB1FF;
   --primary-400: #519FFF;
   --primary-500: #458EFF;
   --primary-600: #487FFF;
   --primary-700: #486CEA;
   --primary-800: #4759D6;
   --primary-900: #4536B6;
   --neutral-50: #F5F6FA;
   --neutral-100: #F3F4F6;
   --neutral-200: #EBECEF;
   --neutral-300: #D1D5DB;
   --neutral-400: #9CA3AF;
   --neutral-500: #6B7280;
   --neutral-600: #4B5563;
   --neutral-700: #374151;
   --neutral-800: #1F2937;
   --neutral-900: #111827;
   --danger-50: #FEF2F2;
   --danger-100: #FEE2E2;
   --danger-200: #FECACA;
   --danger-300: #FCA5A5;
   --danger-400: #F87171;
   --danger-500: #EF4444;
   --danger-600: #DC2626;
   --danger-700: #B91C1C;
   --danger-800: #991B1B;
   --danger-900: #7F1D1D;
   --success-50: #F0FDF4;
   --success-100: #DCFCE7;
   --success-200: #BBF7D0;
   --success-300: #86EFAC;
   --success-400: #4ADE80;
   --success-500: #22C55E;
   --success-600: #16A34A;
   --success-700: #15803D;
   --success-800: #166534;
   --success-900: #14532D;
   --warning-50: #FEFCE8;
   --warning-100: #FEF9C3;
   --warning-200: #FEF08A;
   --warning-300: #FDE047;
   --warning-400: #FACC15;
   --warning-500: #EAB308;
   --warning-600: #FF9F29;
   --warning-700: #f39016;
   --warning-800: #e58209;
   --warning-900: #d77907;
   --info-50: #EFF6FF;
   --info-100: #DBEAFE;
   --info-200: #BFDBFE;
   --info-300: #93C5FD;
   --info-400: #60A5FA;
   --info-500: #3B82F6;
   --info-600: #2563EB;
   --info-700: #1D4ED8;
   --info-800: #1E40AF;
   --info-900: #1E3A8A;
   --dark-1: #1B2431;
   --dark-2: #273142;
   --dark-3: #323D4E;
   --lilac-50: #f0e1ff;
   --lilac-100: #EBD7FF;
   --lilac-600: #8252E9;
   --lilac-700: #6f37e6;
   --lilac-800: #601eef;
   --light-50: #F5F6FA;
   --light-100: #F3F4F6;
   --light-600: #E4F1FF;
   --light-700: #374151;
   --light-800: #1F2937;
   --success-main: #45B369;
   --success-surface: #DAF0E1;
   --success-border: #B5E1C3;
   --success-hover: #009F5E;
   --success-pressed: #006038;
   --success-focus: rgba(69, 179, 105, 0.1490196078);
   --info-main: #144BD6;
   --info-surface: #E7EEFC;
   --info-border: #AECAFC;
   --info-hover: #0A51CE;
   --info-pressed: #06307C;
   --info-focus: rgba(20, 75, 214, 0.1490196078);
   --warning-main: #FF9F29;
   --warning-surface: #FFF9E2;
   --warning-border: #FFEBA6;
   --warning-hover: #D69705;
   --warning-pressed: #C28800;
   --warning-focus: rgba(255, 192, 45, 0.1490196078);
   --danger-main: #EF4A00;
   --danger-surface: #FCDAE2;
   --danger-border: #F9B5C6;
   --danger-hover: #D53128;
   --danger-pressed: #801D18;
   --danger-focus: rgba(239, 71, 112, 0.1490196078);
   --cyan: #00B8F2;
   --indigo: #7F27FF;
   --purple: #8252E9;
   --red: #E30A0A;
   --yellow: #F4941E;
   --orange: #F86624;
   --pink: #DE3ACE;
   --primary-light: rgba(72, 127, 255, 0.15);
   --yellow-light: rgba(255, 159, 41, 0.15);
   --purple-light: rgba(130, 82, 233, 0.15);
   --pink-light: rgba(250, 54, 230, 0.15);
   --primary-light-white: rgba(72, 127, 255, 0.25);
   --yellow-light-white: rgba(255, 159, 41, 0.25);
   --purple-light-white: rgba(132, 90, 223, 0.25);
   --pink-light-white: rgba(250, 54, 230, 0.25);
   --base: #fff;
   --brand: var(--primary-600);
   --button-secondary: var(--primary-50);
   --black: var(--dark-2);
   --white: var(--base);
   --bg-color: var(--neutral-50);
   --text-primary-light: var(--neutral-900);
   --text-secondary-light: var(--neutral-600);
   --text-secondary-dark: var(--neutral-300);
   --input-form-light: var(--neutral-300);
   --input-form-dark: var(--neutral-500);
   --input-bg: var(--neutral-50);
   --input-stroke: var(--neutral-300);
   --border-color: #d1d5db80;
 }
.auth {
   min-height: 100vh;
}
.bg-base {
   background-color: #fff !important;
}
.auth-left {
   background: linear-gradient(90deg, #ECF0FF 0%, #FAFBFF 100%);
   width: 50%;
}
.auth-right {
   width: 50%;
}

.max-w-464-px {
   max-width: 464px;
}
.mb-12 {
   margin-block-end: var(--size-12) !important;
}
.text-lg {
   font-size: var(--font-lg) !important;
}
.mb-32 {
   margin-block-end: var(--size-32) !important;
}
.text-secondary-light {
   color: var(--text-secondary-light);
}
.icon-field {
   position: relative;
}
.mb-16 {
   margin-block-end: var(--size-16) !important;
}
.icon-field .icon {
   position: absolute;
   top: 12px;
   inset-inline-start: 0;
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.25rem;
   color: var(--text-secondary-light);
}
.icon-field .form-control {
   padding-inline-start: 2.5rem !important;
}
.form-select, .form-control, textarea {
   border: 1px solid var(--input-form-light);
   color: var(--text-primary-light) !important;
   background-color: var(--white);
   padding: 0.5625rem 1.25rem;
}
.mb-20 {
   margin-block-end: var(--size-20) !important;
}
.py-32 {
   padding-block: var(--size-32) !important;
}
.px-24 {
   padding-inline: var(--size-24) !important;
}
.mb-40 {
   margin-block-end: var(--size-40) !important;
}
.max-w-290-px {
   max-width: 290px;
}
a {
   text-decoration: none;
   display: inline-block;
   background-color: transparent;
   color: inherit;
}
h4, .h4 {
   font-size: var(--h4) !important;
}

.radius-12 {
   border-radius: 0.75rem;
   -webkit-border-radius: 0.75rem;
   -moz-border-radius: 0.75rem;
   -ms-border-radius: 0.75rem;
   -o-border-radius: 0.75rem;
 }
 .h-56-px {
   height: 3.5rem !important;
}
.bg-neutral-50 {
   background-color: var(--neutral-50) !important;
}
.form-check {
   margin-bottom: 0;
   padding-left: 0;
   gap: 12px;
}
.form-check .form-check-input {
   border: 1px solid var(--text-secondary-light) !important;
   background: transparent !important;
   width: 18px !important;
   height: 18px !important;
   position: relative !important;
   flex-shrink: 0 !important;
   margin-left: 0 !important;
   margin-top: 0;
   cursor: pointer !important;
   padding: inherit !important;
}
label[for] {
   cursor: pointer;
   color: var(--text-secondary-light);
}
.text-primary-600 {
   color: var(--primary-600) !important;
}
.btn.btn-sm {
   padding: 0.5rem 0.875rem;
   font-size: 0.875rem;
}
.py-16 {
   padding-block: var(--size-16) !important;
}
.px-12 {
   padding-inline: var(--size-12) !important;
}
.mt-32 {
   margin-block-start: var(--size-32) !important;
}
.mt-4 {
   margin-block-start: var(--size-4) !important;
 }
.me-16 {
   margin-inline-end: var(--size-16) !important;
}
.form-check .form-check-input:checked::before {
   transform: translate(-50%, -50%) scale(1);
   visibility: visible;
   opacity: 1;
}
.form-check.style-check .form-check-input::before {
   width: calc(100% + 1px);
   height: calc(100% + 1px);
   transform: translate(-50%, -50%) scale(1);
   transition: 0.2s linear;
}
.form-check .form-check-input::before {
   position: absolute;
   content: "";
   width: calc(100% - 4px);
   height: calc(100% - 4px);
   background-color: var(--primary-600);
   border-radius: inherit;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0.5);
   visibility: hidden;
   opacity: 0;
   transition: 0.2s linear;
}
.form-check.style-check .form-check-input:checked::after {
   visibility: visible;
   opacity: 1;
}
*, ::before, ::after {
   box-sizing: border-box;
   border-style: solid;
   border-width: 0;
   transition: all 0.3s;
}
.form-check.style-check .form-check-input::after {
   position: absolute;
   content: "\f00c";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   display: inline-block;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 12px;
   color: #fff;
   visibility: hidden;
   opacity: 0;
   transition: 0.2s linear;
   border-radius: inherit !important;
}