figure.product-card__image-wrapper {
   margin: 0;
   height: 100%;
   width: 100%;
}
figure.product-card__image-wrapper img{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.product-card{
   box-shadow: 0px 2px 20px 0px rgba(182, 182, 182, 0.4);
}

.product-card__meta {
   position: relative;
   border-radius: 10px 10px 0px 0px;
   background: #fff;
   box-shadow: 0px 8px 20px 0px rgba(182, 182, 182, 0.40);
   padding: 16px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.procuct-card__meta_title {
   font-family: "Public Sans" !important;
   font-size: 18px !important;
   font-style: normal !important;
   color: #3D3D3D !important;
   font-weight: 600 !important;
}
ul.product-card__meta_category-list {
   margin: 0;
   padding: 0;
   display: flex;
}
ul.product-card__meta_category-list li {
   list-style: none;
   font-family: Roboto;
   font-size: 14px;
   color: #656565;
   font-style: normal;
   font-weight: 400;
}
.product-card__meta_price {
   position: absolute;
   right: 23px;
   top: -40px;
   display: flex;
   width: 70px;
   border-radius: 100px;
   background: var(--Orange-400, #F9813E);
   box-shadow: 0px 6px 14px 0px rgba(173, 75, 20, 0.30);
   height: 70px;
   padding: 17px 14px;
   align-items: center;
   font-weight: bold;
   justify-content: center;
   color: #fff;
}
.screen {
	display: block;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
	height: 350px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.screen img {
	bottom: -225%;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 1s;
	-ms-transition: top 1s;
	-o-transition: top 1s;
	transition: bottom 1s;
}
.screen:hover img {
  bottom: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}