.screenshots-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 20px;
   column-gap: 20px;
}
.window {
   border: none;
   border-radius: 10px;
   cursor: n-resize;
 
   img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
      height: 500px;
      transition: 5s all ease;
 
     &:hover {
       object-position: bottom;
     }
   }
 }