.screenshots-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 20px;
   column-gap: 20px;
}
.screenshot-image-wrapper{
   box-shadow: 0px 2px 20px 0px rgba(182, 182, 182, 0.4);
   border-radius: 10px;
   width: 100%;
   height: 600px;
}

/* Scroll image on hover - product */
.screen {
	display: block;
   border-radius: 10px;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.screen img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
   border-radius: 10px;
   margin:auto;
   left:0;
   right:0;
   padding:0;
}