figure.product-card__image-wrapper {
   margin: 0;
   height: 100%;
   width: 100%;
}
figure.product-card__image-wrapper img{
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
.product-card{
   box-shadow: 0px 2px 20px 0px rgba(182, 182, 182, 0.4);
}

.product-card__meta {
   position: relative;
   border-radius: 10px 10px 0px 0px;
   background: #fff;
   box-shadow: 0px 8px 20px 0px rgba(182, 182, 182, 0.40);
   padding: 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.product-card__meta_title {
   font-family: "Public Sans" !important;
   font-size: 18px !important;
   font-style: normal !important;
   color: #3D3D3D !important;
   font-weight: 600 !important;
   margin: 0 !important;
}
.product_card_meta_categories {
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
}
.product-card__meta_price {
   position: absolute;
   right: 23px;
   top: -40px;
   display: flex;
   width: 70px;
   border-radius: 100px;
   background: var(--Orange-400, #F9813E);
   box-shadow: 0px 6px 14px 0px rgba(173, 75, 20, 0.30);
   height: 70px;
   padding: 17px 14px;
   align-items: center;
   font-weight: bold;
   justify-content: center;
   color: #fff;
}

/* Scroll image on hover - product */
.screen {
	display: block;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
	height: 350px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.screen img {
	max-width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:auto;
  left:0;
  right:0;
  padding:0;
}
.product_card__meta_button_wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 10px;
}
.product_card__meta_button{
   font-family: "Poppins", Sans-serif !important;
   font-size: 16px !important;
   font-weight: 500 !important;
   line-height: 21.6px !important;
   letter-spacing: 0.32px !important;
   color: #FFFFFF !important;
   background-color: #6730f7 !important;
   border-radius: 3px 3px 3px 3px !important;
}
.product_card__meta_button:hover{
   background-color: #572ACE;
}
